:root {
    --cor0: #fff;
    --cor1: #000000;
    --cor2: #E2E5EA;
    --cor3: #F0F0F0;
    --cor4: rgba(0, 0, 0, 0.253);
    --cor5: #FF480A;
    --cor6: #DAA520;
    --font1: verdana, geneva, tahoma, sans-serif
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}